body {
    -webkit-font-smoothing: antialiased;
    background-color: #0f283e;
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    hyphens: auto;
    letter-spacing: .02em;
    margin: 0;
    padding: 0;
    position: relative;
    }
    body, html {
    overflow-x: hidden;
    width: 100vw;
    }
    * {
    box-sizing: border-box;
    }
    body {
      -webkit-font-smoothing: antialiased;
      background-color: #0f283e;
      color: #fff;
      font-family: Open Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      hyphens: auto;
      letter-spacing: .02em;
      margin: 0;
      padding: 0;
      position: relative;
    }
    body, html {
      overflow-x: hidden;
      width: 100vw;
    }